.slider-wrapper{
    display: flex;
    
    height: 400px;
    position: relative;
}

.btnPrev{
    position: absolute;
    top: 50%;
    left: 5%;
}

.btnNext{
    position: absolute;
    top: 50%;
    right: 5%;
}

.slide{
    display: none;
    height: 400px;
    width: 100%;
    background-color: rgb(102, 64, 190);
    text-align: center;
    line-height: 400px;
    color:#eee;
}

.active{
    display: block;
}

.color--1{
    background-color: rgb(141, 0, 0);
}

.color--2{
    background-color: rgb(72, 141, 3);
}

